
kernel = 'clickos-x86_64'
vcpus         = '1'
cpus		  = '2'
memory        = 12
name          = 'example'
on_start      = 'pause'
on_crash      = 'destroy'

extra         = '-d  standard'

# unmodified backend
vif             = ['mac=00:15:17:15:5d:74,bridge=xenbr0']

# patched backend
#vif            = ['mac=00:15:17:15:5d:74,bridge=vale0,script=/etc/xen/scripts/vif-vale']

click		  = 'pingresponder.click'
